<h2>Show tag</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tag.name %>
  </li>

  <li>
    <strong>Blog:</strong>
    <%= @tag.blog_id %>
  </li>

</ul>

<%= link "Edit", to: tag_path(@conn, :edit, @tag) %>
<%= link "Back", to: tag_path(@conn, :index) %>
