<h2>Show blog</h2>

<ul>

  <li>
    <strong>Desc:</strong>
    <%= @blog.desc %>
  </li>

</ul>

<%= link "Edit", to: blog_path(@conn, :edit, @blog) %>
<%= link "Back", to: blog_path(@conn, :index) %>
